<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <h3>admin home</h3>
   <a href="{% url 'admviewuser' %}"><button>Manage user</button></a><br><br>
   <a href="{% url 'viewhall' %}"><button>Manage hall</button></a><br><br>
   <a href="{% url 'viewd' %}"><button>Manage decoration</button></a><br><br>
   <a href="{% url 'food' %}"><button>Manage Food</button></a><br><br>
   <a href="{% url 'adminviewbooking' %}"><button>Manage booking</button></a><br><br>
   <a href="{% url 'logout' %}"><button>logout</button></a>


</body>
</html>